.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.image-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
